/* Start Landing */
section.landing {
	height: 60vh;
	background-image: url('../images/landing.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	background-attachment: fixed;
}

section.landing .text {
	position: relative;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
	-webkit-transform: translate(-50%, -20%);
	-moz-transform: translate(-50%, -20%);
	-ms-transform: translate(-50%, -20%);
	-o-transform: translate(-50%, -20%);
	max-width: 30%;
	text-align: center;
}

section.landing .text h1 {
	margin: 0;
	color: var(--main-color);
	font-size: 50px;
	font-weight: 500;
	text-transform: capitalize;
}

section.landing .text p {
	color: var(--gray-color);
}
/* End Landing */

/* Start Featuers */
section.features {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	grid-gap: 20px;
	margin-bottom: var(--space-section);
}

section.features .feat {
	padding: 30px;
	text-align: center;
}

section.features .feat:nth-child(2) {
	box-shadow: rgba(102, 102, 102, 0.082) 9px 9px 11px 0px;
}

section.features .feat i {
	font-size: 50px;
	color: var(--main-color);
}
/* End Featuers */

/* Start Services */
section.services {
	margin-bottom: var(--space-section);
}
section.services .content {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 30px;
}

section.services .content .col .serv {
	display: flex;
	margin-bottom: 40px;
}

@media (max-width: 767px){
	section.services .content .col .serv {
		flex-direction: column;
		text-align: center;
	}
}

section.services .content .col .serv i {
	color: var(--main-color);
	flex-basis: 60px;
	font-size: 24px;
}

section.services .content .col .serv .text {
	flex: 1;
}

section.services .content .col .image {
	text-align: center;
	position: relative;	
}

section.services .content .col .image::before {
	content: '';
	background-color: var(--second-color);
	width: 100px;
	height: calc(100% + 60px);
	position: absolute;
	right: 20px;
	top: -30px;
	z-index: -1;
}

section.services .content .col .image img {
	width: 240px;
}

@media (max-width: 1199px) {
	section.services .content .col .image {
		display: none;
	}
}
/* End Services */

/* Start Portfolio */
section.portfolio {
	background-color: var(--back-ground-section-color);
	padding-bottom: var(--space-section);
}

section.portfolio .row {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 30px;
}

section.portfolio .row .box {
	background-color: var(--white-color);
}

section.portfolio .row  img {
	width: 100%;
}

section.portfolio .row .text {
	padding: 20px;
}
/* End Portfolio */

/* Start About */
section.about {
	margin-bottom:calc(var(--space-section) + 60px) ;
}

section.about .row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

section.about .row .image {
	position: relative;
	width: 250px;
	height: 375px;
}

section.about .row .image::before {
	content: '';
	position: absolute;
	background-color: var(--back-ground-section-color);
	width: 100px;
	height: calc(100% + 80px);
	top: -30px;
	left: -25px;
	z-index: -1;
}
section.about .row .image::after {
	content: '';
	position: absolute;
	width: 120px;
	height: 300px;
	border-left: 80px solid var(--main-color);
	border-bottom: 80px solid var(--main-color);
	top: -40px;
	right: -150px;
	z-index: -1;
}

section.about .row .image img {
	max-width: 100%;
}

section.about .row .text {
	flex-basis: calc(100% - 500px);
	align-items: center;
}

section.about .row .text .up {
	color: black;
	font-weight: 600;
	padding-bottom: 40px;
}

section.about .row .text hr {
	width: 200px;
	height: 2px;
	border: none;
	margin: 0;
	background-color: var(--main-color);
}

@media (max-width: 992px) {
	section.about .row {
		flex-direction: column;
	}
	section.about .row .text {
		text-align: center;
		padding: 50px 0;
	}
	section.about .row .text hr {
		margin: 0 auto;
	}
	section.about .row .image::before {
		width: 60px;
	}
	section.about .row .image::after {
		width: 60px;
		right: -100px;
	}
}
/* End About */

/* Start Contact */
section.contact {
	background-color: var(--back-ground-section-color);
	padding-bottom: var(--space-section);
}

section.contact .info {
	margin-left: 100px;
}

section.contact .info .lable {
	font-size: 36px;
	font-weight: 900;
	color: var(--second-color);
	letter-spacing: -2px;
	margin: 0;
}

section.contact .info a {
	font-size: 30px;
	font-weight: 900;
	color: var(--main-color);
	margin-left: 20px;
}

section.contact .info .icon {
	margin-left: 40px;
}

section.contact .info .icon p {
	margin-bottom: 0px;
}

section.contact .info .icon a i {
	color: var(--dark-gray-color);
	font-size: 20px;
}

@media(max-width: 767px) {
	section.contact .info {
		margin-left: 0px;
		text-align: center;
	}
	
	section.contact .info .lable {
		font-size: 26px;
		font-weight: 700;
	}

	section.contact .info a {
		font-size: 20px;
		font-weight: 700;
	}
}
/* End Contact */