/*Start Header */
header {
	padding: 20px;
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .container .logo img {
	width: 60px;
}

header .container nav {
	position: relative;
}

header .container nav .icon {
	width: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

header .container nav:hover .icon span:nth-child(2) {
	width: 100px;
}

header .container nav:hover ul {
	right: 0;
}

header .container nav .icon span {
	height: 2px;
	margin-bottom: 5px;
	background-color: var(--second-color);
}

header .container nav .icon span:first-child {
	width: 100%;
}

header .container nav .icon span:nth-child(2) {
	width: 60%;
	transition: 0.5s;
}

header .container nav .icon span:last-child {
	width: 100%;
}

header .container nav ul {
	position: fixed;
	width: 40%;
	height: 100%;
	background-color: var(--second-color);
	top: -16px;
	right: -40%;
	z-index: 9999;
	transition: 0.5s;
}

header .container nav ul li {
	position: relative;
	top: 20%;
	left: 50%;
	transform: translate(-50% , -20%);
	margin-bottom: 50px;
}

header .container nav ul li a {
	font-size: 20px;
	font-weight: 300;
	color: var(--white-color);
	text-transform: capitalize;
}

header .container nav ul li a.active,
header .container nav ul li:hover a
{
	color: var(--main-color);
}

/*End Header */

/* Start Landing */
section.landing {
	height: 60vh;
	background-image: url('../images/landing.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	background-attachment: fixed;
}

section.landing .text {
	position: relative;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -20%);
	-webkit-transform: translate(-50%, -20%);
	-moz-transform: translate(-50%, -20%);
	-ms-transform: translate(-50%, -20%);
	-o-transform: translate(-50%, -20%);
	max-width: 30%;
	text-align: center;
}

section.landing .text h1 {
	margin: 0;
	color: var(--main-color);
	font-size: 50px;
	font-weight: 500;
	text-transform: capitalize;
}

section.landing .text p {
	color: var(--gray-color);
	font-size: 14px;
	text-transform: capitalize;
	line-height: 1.6;
}
/* End Landing */

/* Start Featuers */
section.features {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	grid-gap: 20px;
}

section.features .feat {
	padding: 30px;
	text-align: center;
	max-height: 30vh;
}

section.features .feat:nth-child(2) {
	box-shadow: rgba(102, 102, 102, 0.082) 9px 9px 11px 0px;
}

section.features .feat i {
	font-size: 50px;
	color: var(--main-color);
}

section.features .feat h2 {
	color: var(--second-color);
	text-transform: capitalize;
}

section.features .feat p {
	color: #666;
	line-height: 1.6;
}
/* End Featuers */

