/*Variables*/
:root {
	--main-color: #10cab7;
	--second-color: #2c4755;
	--gray-color: #f6f6f6;
  --darh-gray-color: #666;
	--white-color: #ffffff;
  --space-section: 60px;
}
/*End Variables*/

/*Global Rules*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Almarai', sans-serif;
	font-family: 'Work Sans', sans-serif;
}

/* 
==========================
======= Head Section =====
========================== 
*/
div.head-section {
  text-align: center;
}

div.head-section h2 {
  font-size: 60px;
  font-weight: 800;
  color: var(--gray-color);
  text-transform: uppercase;
  margin: 0;
}

div.head-section p {
  color: var(--darh-gray-color);
  text-transform: capitalize;
  margin-top: -20px;
}

/*
===========================
======== Media Query ======
===========================
*/

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
 }

/*Small*/
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/*Midum*/
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/*Larg*/
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/*X-Large*/
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/*XX-Large*/
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}
/*End Global Rules*/

