/*Variables*/
:root {
	--main-color: #10cab7;
	--second-color: #2c4755;
	--gray-color: #eee;
	--back-ground-section-color: #f6f6f6;
  	--dark-gray-color: #666;
	--white-color: #ffffff;
  	--space-section: 60px;
}
/*End Variables*/

/*Global Rules*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Almarai', sans-serif;
	font-family: 'Work Sans', sans-serif;
}

/*
===========================
======== Media Query ======
===========================
*/

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
 }

/*Small*/
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/*Midum*/
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/*Larg*/
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/*X-Large*/
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/*XX-Large*/
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
	width: 5px;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
	background: var(--main-color); 
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

h3 {
	margin: 0;
}

img {
	overflow: hidden;
}
/*End Global Rules*/

/* 
==========================
======== componant =======
========================== 
*/
div.head-section {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

div.head-section h2 {
  font-size: 60px;
  font-weight: 800;
  color: var(--gray-color);
  text-transform: uppercase;
  margin: 0;
  padding-top: 40px;
}

div.head-section p {
  margin-top: -25px;
}

h3 {
	color: var(--second-color);
	text-transform: capitalize;
}

p {
	color: var(--dark-gray-color);
	font-size: 14px;
	text-transform: capitalize;
	line-height: 1.6;
}

/*
=====================
======= navbar ======
===================== 
*/
/*Start Header */
header {
	padding: 20px;
	/* position: sticky;
	top: 0;
	z-index: 1050; */
}

header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .container .logo img {
	width: 60px;
}

header .container nav {
	position: relative;
}

header .container nav .icon {
	width: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

header .container nav:hover .icon span:nth-child(2) {
	width: 100px;
}

header .container nav:hover ul {
	right: 0;
}

header .container nav .icon span {
	height: 2px;
	margin-bottom: 5px;
	background-color: var(--second-color);
}

header .container nav .icon span:first-child {
	width: 100%;
}

header .container nav .icon span:nth-child(2) {
	width: 60%;
	transition: 0.5s;
}

header .container nav .icon span:last-child {
	width: 100%;
}

header .container nav ul {
	position: fixed;
	width: 40%;
	height: 100%;
	background-color: var(--second-color);
	top: -16px;
	right: -40%;
	z-index: 9999;
	transition: 0.5s;
}

header .container nav ul li {
	position: relative;
	top: 20%;
	left: 50%;
	transform: translate(-50% , -20%);
	margin-bottom: 50px;
}

header .container nav ul li a {
	font-size: 20px;
	font-weight: 300;
	color: var(--white-color);
	text-transform: capitalize;
}

header .container nav ul li a.active,
header .container nav ul li:hover a
{
	color: var(--main-color);
}

/*End Header */

/* Start Footer */
footer {
	background-color: var(--second-color);
}

footer p {
	text-align: center;
	color: var(--white-color);
	font-size: 18px;
	padding: 20px;
	margin: 0;
}

footer p span {
	color: var(--main-color);
}
/* End Footer */